/*-----------------------------
    Accordion Item
-----------------------------*/
.accordion-wrapper .card {
  border-radius: 0;
  padding: 20px;
  background: var(--white);
  border: .5px solid transparent; }
  .accordion-wrapper .card + .card {
    margin-top: 30px; }
  .accordion-wrapper .card.opened-accordition {
    border-color: var(--main-color); }
  .accordion-wrapper .card .card-header {
    background: none;
    border: none;
    padding: 0; }
    .accordion-wrapper .card .card-header a {
      display: block;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: var(--blog-heading);
      cursor: pointer;
      position: relative; }
      .accordion-wrapper .card .card-header a:after {
        position: absolute;
        right: 0;
        top: 0;
        content: "\f107";
        font-family: "fontawesome"; }
      .accordion-wrapper .card .card-header a[aria-expanded="false"]:after {
        content: "\f106"; }
  .accordion-wrapper .card .card-body {
    color: var(--blog-heading-light-gray); }
