/*-----------------------------
    Accordion Item
-----------------------------*/
.accordion-wrapper {
  .card {
    border-radius: 0;
    padding: 20px;
    background: var(--white);
    border: .5px solid transparent;
    + .card {
      margin-top: 30px;
    }
    &.opened-accordition{
        border-color: var(--main-color);
    }
    .card-header {
      background: none;
      border: none;
      padding: 0;
      a {
        display: block;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        color: var(--blog-heading);
        cursor: pointer;
        position: relative;
        &:after {
          position: absolute;
          right: 0;
          top: 0;
          content: "\f107";
          font-family: "fontawesome";
        }
        &[aria-expanded="false"] {
          &:after {
            content: "\f106";
          }
        }
      }
    }
    .card-body {
        color: var(--blog-heading-light-gray);
    }
  }
}
